@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|Montserrat|Quicksand|Sofia|Raleway:200,300,400');

html, body{
    overflow-x: hidden;
    height: 100%;
    background-color: #A5A6C3 !important;
}

body{
    /* width: 76%; */
    margin: auto !important;
}

a {
    color:#85ABC2;
}

a:hover{
    color:#575978;
    text-decoration: none;
}

.content{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: silver;
    width: 76%;
    margin: auto;
    padding: auto;
}

/* navbar (nav) > navbar-collapse (div) > navbar-nav (ul) > nav-item (li) > nav-link (a) */

.navibar{
    background-color: #615878;
    position: static;
    height: 3.5em;
    /* width: 76%; */
    margin: auto;
} 

.navilinks{
    /* background-color: #615878; */
    /* padding: 5px; */
    width: 50%;
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    height: 100%;
    left: 15%;
    margin: auto;
}

/* .naviitem{
    background-color: seashell;
    color:rgba(22, 17, 30, .5);
    flex-grow: 1;
} */

.navilinks > li {
    /* background-color: #6F6888; */
    color:rgba(22, 17, 30, .5);
    /* flex: 1; */
    list-style-type: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    transform: skewX(-20deg);
    height: 100%;
    /* display: block; */
}

.navilinks li:hover{
    background-color: #A0E4D3;
}

/* .navibar .home {
    background-color: #615878;
} */

.navilinks span {
    /* background-color: salmon; */
    display: block;
    transform: skewx(20deg);
    color:rgba(22, 17, 30, .5);
    height: 100%;
    width: 100%;
    padding-top: 9px;
}

.home{
    /* width: 100% !important; */
    
    background-color: #615878;
    font-weight: bold;
    font-size: 22px;
    flex-grow: 1;
    padding-top: 0px;
}
.digital, .channel, .queue, .contact{
    background-color: #6F6888;
    font-size: 18px;
    flex-grow: 1;
    width: 10px;
    padding-top: 5px;
}

.current{
    background-color: salmon;
}

.navbar{
    background-color: transparent;
    margin: -80px 0 20px;
    /* border: 2px solid red; */
}

.nav-item{
    border: 2px solid black;
    border-radius: 15px;
    width: 180px;
    margin: 0 40px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(22, 17, 30, .5);
}

.nav-item:hover{
    background-color: rgba(22, 17, 30, .7) !important;
}

.nav-item.active a{
    color: #ffffff99 !important;
}
